:root {
  --color-primary-200: #b3ffcf;
  --color-primary-300: #66e093;
  --color-primary-400: #22c55e;
  --color-primary-500: #1cb454;
  --color-primary-600: #15803d;
  --color-primary-700: #166534;
  --color-primary-800: #14532d;
  --color-primary-hover: #15803d;

  --color-background-app: #f8fafc;
  --color-surface: #ffffff;
  --color-border: #e2e8f0;

  --color-text-main: #0f172a;
  --color-text-muted: #64748b;

  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-danger: #ef4444;
}